@charset "UTF-8";

div.elastic{
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column;
}
table tr:first-child{
		background: #f2f2f2;
	}
		table td{
			height: 0.35rem;
			border-bottom: 1px solid #e6e6e6;
			position: relative;
			white-space:nowrap;
		}
		table th{
			height: 0.35rem;
			border-bottom: 2px solid #e6e6e6;
		}

aside.body-aside{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	z-index: 29;
	display: none;
}

header.body-header{
	width: 100%;
	height: 0.5rem;
	position: relative;
}
		header.body-header>header{
			height: 0.5rem;
			color: #fff;
			font-size: 0.18rem;
			line-height: 0.5rem;
			text-align: center;
			width: 100%;
			background: #29abe2;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 10;
			box-shadow: 0rem 0.01rem 0.02rem #E6E6E6;
		}

				header.body-header>header>a{
					display: block;
					width: 0.5rem;
					height: 0.5rem;
				}
				header.body-header>header>a.return{
					text-align: center;
					color: #fff;
					float: left;
					line-height: 0.5rem;
					font-size: 0.2rem;
				}
				header.body-header>header>a#header-menu{
					float: right;
					font-size: 0.3rem;
					color: #fff;
					background-size: contain;
				}



	header.body-header>aside{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 30;
		display: none;
		width: 100%;
	}
			header.body-header>aside>header{
				background: #fff;
				height: 0.5rem;
				text-align: center;
				font-size: 0.18rem;
				line-height: 0.5rem;
				color: #29abe2;
			}
			header.body-header>aside>section{
				background: #fff;
				height: 3rem;
				overflow: scroll;
			}
				ul#season-list{
					display: flex;
					flex-wrap: wrap;

				}
						ul#season-list li{
							flex-grow: 1;
							flex-shrink: 1;
							flex-basis: 0%;
							min-width: 33.33%;
						}
					header.body-header>aside>section li{
						background: #fff;
						height: 0.45rem;
						line-height: 0.45rem;
						border-bottom: 1px solid #e6e6e6;
/*						text-indent: 0.3rem;*/
						text-align: center;
					}
							header.body-header>aside>section li a{
								color: #333;
								display: block;
							}




article.banner{
	width: 100%;
/*	padding-bottom: 14%;*/
}
		article.banner>img{
			float: left;
		}

section.body-section{
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	display: flex;
	flex-flow: column;
	position: relative;
}
		header.menuBox-b{
			width: 100%;
			height: 0.5rem;
			overflow: hidden;
			background: #fff;
		}
		section.body-section>ul.nav{
			width: 100%;
			height: 0.5rem;
		}
				ul.nav>li{
					width: 16.66%;
					float: left;
					text-align: center;
					line-height: 0.5rem;
					position: relative;
					font-size: 0.16rem;
				}
						ul.nav>li{
							color: #aaa;
						}
						ul.nav>li.liactive-b{
							color: #333;
						}
						ul.nav>li.liactive-b::after{
							content: "";
							position: relative;
							left: 0;
							bottom: 2px;
							display: block;
							background: #29abe2;
							height: 2px;
						}



			section#menu-section{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 0%;
				z-index: 10;
				display: flex;
				flex-flow: column;
				overflow: hidden;
				transition: all 0.3s;
			}
					header.close{
						height: 0.3rem;
						width: 100%;
						line-height: 0.3rem;
						text-indent: 0.1rem;
						background: #aaa;
						color: white;
					}
							header.close>span.icon-jiantou{
								display: block;
								height: 0.3rem;
								width: 0.3rem;
								position: absolute;
								right: 0;
								top: 0;
								line-height: 0.3rem;
								text-align: center;
								text-indent: 0rem;
								transform: rotate(-90deg);
								color: white;
							}


					div.div-events{
						flex-grow: 1;
						flex-shrink: 1;
						flex-basis: 0%;
						overflow: scroll;
					}
							table.form-events{
								border-collapse: separate;
								border-spacing: 0.1rem;
								table-layout: fixed;
								font-size: 0.16rem;
								background: #f4f4f4;
							}
									table.form-events td{
										background: #fff;
										border: 1px solid #e6e6e6;
										width: 25%;
									}









		article.content{
			width: 100%;
			position: relative;
			flex: 1;
			overflow: hidden;
		}

				ul.section-menu{
					display: flex;
					height: 100%;
					width: 600%;
					visibility: visible;
					position: absolute;
					left: 0;
					top: 0;
					transition: all 0.5s ease;
					overflow: hidden;
				}
						ul.section-menu>li{
							display: block;
							flex: 1;
							height: 100%;
							overflow: scroll;
						}





		div.select{
			padding-left: 0.15rem;
			padding-right:  0.15rem;
/*			margin-bottom: 0.1rem;*/
			border-bottom: 1px solid #e6e6e6;
			box-sizing: border-box;
			overflow: scroll;
			height: 2.05rem;
			position: relative;
			transition-property: height;
			transition-duration: 0.2s;
			transition-timing-function: linear;
			transition-delay: 0s;
		}

				div.s-top{
					height: 0.3rem;
					line-height: 0.3rem;
/*					margin-top: 20px;*/
				}
						div.s-top>span:nth-child(1){
							float: left;
						}
						div.s-top>span:nth-child(2){
							float: right;
							color: #aaa;
						}

				ul.s-bottom{
					width: 100%;
					height: 3.6rem;
					overflow: scroll;
				}
						ul.s-bottom>li{
							float: left;
							width: 25%;
							height: 0.45rem;
							line-height: 0.45rem;
							text-align: center;
						}
								ul.s-bottom>li>span{
									width: 94%;
									height: 0.3rem;
									display: inline-block;
									text-align: center;
									border: 1px solid #e6e6e6;
									box-sizing: border-box;
									line-height: 0.3rem;
									border-radius: 5px;
									color: #aaa;
									background: #fff;
									cursor: pointer;
								}
								ul.s-bottom span.b-t-29abe2{
									color: #29abe2;
									border: 1px solid #29abe2;
								}

					div.expand{
						height: 0.4rem;
						color: #aaa;
						line-height: 0.4rem;
						text-align: center;
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						background: #f2f2f2;
					}
div.expand span{
	display: inline-block;
	width: 0.15rem;
	height: 0.15rem;
	text-align: center;
	line-height: 0.15rem;
	transform: rotate(-90deg);
}

		div.main{
			background: #fff;
		}
			div.main a{
				display: block;
			}
			table.form-saichen img{
				width: 0.3rem;
				height: 0.3rem;
				vertical-align: middle;
			}
			div.main table.form-saichen td{
				height: 0.4rem;
				vertical-align: middle;
			}
			table.form-saichen th{
				height: 0.3rem;
				background: #fff;
				border-bottom: 2px solid #e6e6e6;
			}
				table.form-saichen span.heiti{
					display: inline-block;
					font-size: 0.2rem;
					width: 0.2rem;
					height: 100%;
					line-height: 0.4rem;
				}

				table.form-saichen td:nth-child(1){
					color: #aaa;
					font-size: 0.12rem;
				}
				table.form-saichen td:nth-child(2){
					text-align: right;
				}
				table.form-saichen td:nth-child(6){
					text-align: left;
				}
				table.form-saichen td span.s-29abe2{
					color: #29abe2;
				}



			div.main table.form-jifeng td{
				position: relative;
			}

			div.main table.form-jifeng th{
				border-bottom: 2px solid #e6e6e6;
			}
			div.main table.form-jifeng span{
				display: inline-block;
				height: 100%;
				width: 0.03rem;
				position: absolute;
				left: 0;
				top: 0;
			}


			div.main table.form-jifeng tr:first-child{
				background: #f2f2f2;
			}
					div.main table.form-jifeng tr:nth-child(2) span{
						background: red;
					}
					div.main table.form-jifeng tr:nth-child(3) span{
						background: #29abe2;
					}
					div.main table.form-jifeng tr:nth-child(4) span{
						background: #29abe2;
					}
					div.main table.form-jifeng tr:nth-last-child(-n+2) span{
						background: #aaa;
					}


					table.form-jifeng tr td:nth-of-type(2){
						color: #29abe2;
					}
					table.form-jifeng tr td:last-child{
						color: #29abe2;
					}

			ul.remarks{
				width: 100%;
				padding: 0.05rem 0.05rem 0.05rem 0.1rem;
				height: 0.3rem;
			}
					ul.remarks li{
						float: left;
						padding-left: 0.1rem;
						width: 26%;
						color: #aaa;
					}
					ul.remarks li:nth-child(1){
						border-left: 4px solid red;
					}
					ul.remarks li:nth-child(2){
						border-left: 4px solid #29abe2;
					}
					ul.remarks li:nth-child(3){
						border-left: 4px solid #aaa;
					}




		div.main table.form-daxiao tr:first-child{
			background: #f2f2f2;
		}
			div.main table.form-daxiao td{
				border-bottom: 1px solid #e6e6e6;
				position: relative;
			}

			div.main table.form-daxiao th{
				border-bottom: 2px solid #e6e6e6;
			}
			table.form-daxiao td:first-child{
				width: 0.35rem;
				background-size: contain;
				background-repeat: no-repeat;
			}
			table.form-daxiao td:nth-child(n+3):nth-child(-n+6){
				color: #aaa;
			}
			table td.taobao{
				background-image: url(../../imgage/zhongchao/taobao.jpeg);
			}
			table td.shanggang{
				background-image: url(../../imgage/zhongchao/shanggang.jpeg);
			}
			table td.taishan{
				background-image: url(../../imgage/zhongchao/taishan.jpeg);
			}
			table td.guoan{
				background-image: url(../../imgage/zhongchao/guoan.jpeg);
			}
			table td.jianye{
				background-image: url(../../imgage/zhongchao/jianye.png);
			}
			table td.shenghua{
				background-image: url(../../imgage/zhongchao/shenghua.jpeg);
			}
			table td.yongchang{
				background-image: url(../../imgage/zhongchao/yongchang.jpg);
			}
			table td.yatai{
				background-image: url(../../imgage/zhongchao/yatai.jpeg);
			}
			table td.suling{
				background-image: url(../../imgage/zhongchao/suling.jpg);
			}
			table td.lifan{
				background-image: url(../../imgage/zhongchao/lifan.jpeg);
			}
			table td.lvcheng{
				background-image: url(../../imgage/zhongchao/lvcheng.jpg);
			}
			table td.fuli{
				background-image: url(../../imgage/zhongchao/fuli.jpeg);
			}
			table td.yili{
				background-image: url(../../imgage/zhongchao/yili.jpeg);
			}
			table td.kaixin{
				background-image: url(../../imgage/zhongchao/kaixin.jpeg);
			}
			table td.renhe{
				background-image: url(../../imgage/zhongchao/renhe.jpg);
			}
			table td.shengxin{
				background-image: url(../../imgage/zhongchao/shengxin.jpg);
			}
			table td.zhicheng{
				background-image: url(../../imgage/zhongchao/zhicheng.jpg);
			}
			table td.qujian{
				background-image: url(../../imgage/zhongchao/qujian.jpg);
			}
			table td.fude{
				background-image: url(../../imgage/zhongchao/fude.jpg);
			}
			table td.xinfu{
				background-image: url(../../imgage/zhongchao/xinfu.jpg);
			}


			table.form-sheshou td:nth-child(1),
			table.form-sheshou td:nth-child(3){
				color: #aaa;
			}

		table.form-yuche{
			table-layout: fixed;
		}
			table.form-yuche td:nth-child(1){
				color: #aaa;
				font-size: 0.12rem;
			}
			table.form-yuche td:nth-child(3),
			table.form-yuche td:nth-child(4),
			table.form-yuche td:nth-child(5){
				background-size: 0.3rem;
				background-position: center;
				background-repeat: no-repeat;
				color: #29abe2;
			}
			table.form-yuche td:nth-child(2),
			table.form-yuche td:nth-child(6){
				overflow: hidden;
				text-overflow: ellipsis;
			}
			
			table.form-yuche td:last-child{
				color: #29abe2;
			}










