@charset "UTF-8";


aside.body-aside{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	z-index: 29;
	display: none;
}

header.body-header{
	width: 100%;
	height: 0.5rem;
	position: relative;
}
		header.body-header>header{
			height: 0.5rem;
			color: #29abe2;
			font-size: 0.16rem;
			line-height: 0.5rem;
			text-align: center;
			width: 100%;
			background: #fff;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 10;
/*			box-shadow: 0rem 0.01rem 0.02rem #E6E6E6;*/
		}
				header.body-header>header>a{
					display: block;
					width: 0.5rem;
					height: 0.5rem;
				}
				header.body-header>header>a.return{
					text-align: center;
					color: #29abe2;
					float: left;
					line-height: 0.5rem;
					font-size: 0.2rem;
				}
				header.body-header>header>a#header-menu{
					float: right;
					background-image: url(../../imgage/menu.png);
					background-size: contain;
				}



	header.body-header>section{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 30;
		display: none;
		width: 100%;
	}
			header.body-header>section>header{
				background: #fff;
				height: 0.5rem;
				text-align: center;
				font-size: 0.18rem;
				line-height: 0.7rem;
				color: #29abe2;
			}
			header.body-header>section>section{
				height: 3rem;
				overflow: hidden;
				background: #fff;
				display: flex;
				flex-flow: column;
			}
					header.body-header ul.head-nav{
						width: 2rem;
						height: 0.3rem;
						background: #fff;
						margin: 0.15rem auto;
						overflow: hidden;
						text-align: center;
						border: 1px solid  #29abe2;
						border-radius: 0.04rem;
						display: flex;
					}
							ul.head-nav li{
								color:  #29abe2;
								float: none;
								flex: 1;
								line-height: 0.3rem;
							}
							ul.head-nav li.liactive{
								color:  #fff;
								background: #29abe2;
							}

			div.contentBox {
				flex: 1;
				width: 100%;
				background-color: #fff;
				overflow: hidden;
				position: relative;
			}

				header.body-header ul.head-menu{
					height: 2.4rem;
					width: 200%;
					display: flex;
					visibility: visible;
					justify-content: center;
					align-items: center;
					position: absolute;
					left: 0;
					top: 0;
					transition: all 0.5s ease;
				}
						header.body-header ul.head-menu li{
							display: block;
							flex: 1;
						}


					header.body-header ul.head-submenu{
						width: 100%;
						height: 2.4rem;
						padding-top: 0.2rem;
						padding-left: 5%;
						padding-right: 5%;
						background: #f2f2f2;
					}
						header.body-header ul.head-submenu>li{
							float: left;
							height: 1.1rem;
							width: 25%;
							text-align: center;
							
						}
							header.body-header ul.head-submenu a{
								display: inline-block;
								width: 0.7rem;
								height: 0.7rem;
							}



article.banner{
	width: 100%;
	padding-bottom: 14%;
}
		article.banner>img{
			float: left;
		}

section.body-section{
/*	height: 5.4rem;*/
}
		table.form-match{
			padding: 0.1rem;
			border-spacing: 0.1rem;
			border-collapse: separate;
			background: #f2f2f2;
		}
				table.form-match td{
					height: 0.4rem;
					border-radius: 0.05rem;
					border: 1px solid #e6e6e6;
					background: #fff;
					text-align: left;
				}
				table.form-match a{
					display: block;
					color: #333;
				}
				table.form-match span{
					display: inline-block;
					width: 0.2rem;
					height: 0.2rem;
					vertical-align: text-top;
					margin-left: 0.2rem;
					margin-right: 0.1rem;
				}
				table.form-match tr:nth-child(1) td:nth-child(1) span{
					background-image: url(../../imgage/country/asia/china/zhongchao.png);
					background-size: contain;
				}
				table.form-match tr:nth-child(1) td:nth-child(2) span{
					background-image: url(../../imgage/country/asia/china/zhongjia.png);
				}
				table.form-match tr:nth-child(2) td:nth-child(1) span{
					background-image: url(../../imgage/country/asia/china/zhongyi.png);
				}
				table.form-match tr:nth-child(2) td:nth-child(2) span{
					background-image: url(../../imgage/country/asia/china/nvzhu.jpg);
				}
				table.form-match tr:nth-child(3) td:nth-child(1) span{
					background-image: url(../../imgage/country/asia/china/zhuxiebei.png);
				}
				table.form-match tr:nth-child(3) td:nth-child(2) span{
					background-image: url(../../imgage/country/asia/china/yeyuliansai.jpg);
				}












