@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?hj7k1q');
  src:  url('icomoon.eot?hj7k1q#iefix') format('embedded-opentype'),
    url('icomoon.ttf?hj7k1q') format('truetype'),
    url('icomoon.woff?hj7k1q') format('woff'),
    url('icomoon.svg?hj7k1q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
/*  line-height: 1;*/

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cha:before {
  content: "\e901";
}
.icon-gou:before {
  content: "\e902";
}
.icon-jiantou-left:before {
  content: "\e900";
}
.icon-jiantou:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e904";
}
.icon-pc:before {
  content: "\e905";
}
.icon-play:before {
  content: "\e906";
}
