@charset "UTF-8";

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display: block;}
*{
	outline: 0;
	padding: 0;
	margin: 0;
	border: none;
}
html{
	-webkit-text-size-adjust:none;
	
	font-family: Microsoft YaHei, Arial;
}
body{
	-webkit-text-size-adjust:none;
	background: #f4f4f4;
	font-size: 13px;
	color: #333;
	min-width: 320px;
	height: 100%;
}

::-webkit-scrollbar {
	display: none;
}

a{
	text-decoration: none;
	color: #333;
}
img{
	width: 100%;
	height: 100%;
}
ul,ol{
	list-style: none outside none;
}

/*header 头部样式表开始〜*/
header{
	width: 100%;
	height: 120px;
	display: flex;
    justify-content:center;
    align-items:Center;
}
header>div{
	width: 40vmin;
/*	height: 10vh;*/
}

header>a{
	display: block;
	position: absolute;
	left: 6vmin;
	top: 15px;
	width: 15px;
	height: 15px;
	font-size: 6vmin;
	color: #555;
}





aside{
	background-color: white;
	width: 100%;
	height: 470px;
	display: flex;
	justify-content: center;
	align-items: center;
}

span.input_icon{
	color: #8cc63f;
}

h4{
	line-height: 28px;
	font-weight: normal;
}
input.a{
	height: 26px;
	width: 220px;
	line-height: 22px;
	border: 1px solid #CCC;
	padding: 2px 10px 2px 10px;
	font-size: 14px;
	
}

div#register_submit>a{
	display: block;
	height: 40px;
	background: red;
	line-height: 40px;
	text-align: center;
	color: white;
	font-size: 19px;
	margin-bottom: 4px;
	margin-top: 30px;
}
div#return{
	text-align: center;
	height: 45px;
	line-height: 45px;
	vertical-align: bottom;
}
div#return>a{
	color: #aaa;
}
input#sign_mobile{
	width: 160px;
}
input#sign_Verification{
	width: 110px;
}
a#sign_mobile_a{
	display: inline-block;
	width: 56px;
	height: 32px;
	background: #ccc;
	line-height: 32px;
	text-align: center;
	font-size: 12px;
	color: white;
}





footer{
	width: 100%;
	height: 60px;
}
div#foot_content_two{
	line-height: 6vh;
	height: 3vh;
	font-size: 3.5vmin;
	text-align: center;
	color: #aaa;
	padding-top: 3vmin
}








