@charset "UTF-8";

header,section,nav,aside,article,footer{ display: block; }
html,body{
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: "Microsoft Yahei";
	min-width: 1200px;
}
* {
	margin: 0;
	border: none;
	padding: 0;
	box-sizing: border-box;
}
ul,ol,dl {
	list-style: none;
	padding: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
button{
	outline: none;
	background: none;
}
img {
	vertical-align: bottom;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}
div.main{
	width: 1200px;
	margin: 0 auto;
	height: 100%;
}
a.block{
	display: block;
	height: 100%;
}

::-webkit-input-placeholder { /* Chrome */
	color: #aaa;
	transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
  	opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #aaa;
	transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
  	opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #aaa;
	opacity: 1;
	transition: opacity 250ms ease-in-out;
}
:focus::-moz-placeholder {
  	opacity: 0.5;
}
:-moz-placeholder { /* Firefox 4 - 18 */
	color: #aaa;
	opacity: 1;
	transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
  	opacity: 0.5;
}